// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap.min.scss';

:root {
    --bg-header: #2FBBF9;
}

::selection {
    background-color: var(--bg-header);
    color: #fff;
}

body {
    color: #2D2D2D;
    padding: 10px;
    letter-spacing: 1px;
}

header {
    background-color: var(--bg-header);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

h1 {
    margin-top: 15px;
    font-family: 'Carter One', cursive;
}

a {
    color:#E10087;
    text-decoration: none;
} 