<!DOCTYPE html>
<html lang="fr" theme-color="light">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to Wild Séries!{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="icon" type="image/png" href="https://wilders.co/medias/editor/oneshot-images/196937687561a7ad234e89a.png" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include ('_navbar.html.twig') %}
        </header>
        {% block body %}{% endblock %}
    </body>
</html>